<div id="pergaminhos">					
	<h3>Pergaminhos</h3>
	
	<ul>
		<% for(var i = 0; i < acoes.length; i++) { %>

			<% 
			var txt_acao = '';
			
			switch(parseInt(acoes[i].acao)) {
				case 1: txt_acao = 'aldeão(ões) coletando recursos'; break;
				case 2: txt_acao = 'enforcamento(s) programado'; break;
				case 3: txt_acao = 'aldeão(ões) em treinamento de história'; break;
				case 4: txt_acao = 'aldeão(ões) em treinamento de magia '; break;
			}

			var data = new Date();
			var data_atual = data.getTime();

			var tempo_restante = Math.round((acoes[i].acao_termina_em - data_atual)/1000);
			
			%>
			<li>
				<%= acoes[i].quantidade %> <%= txt_acao %> -  <small> restam <strong><span class="tempo_restante"> <%= tempo_restante %> </span> </strong> segundos 
				- <a href="#">revogar ordem</a></small>
			</li>

		<% } %>


	</ul>
</div>